

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    text-align: center;
    margin:0;
    padding:0;
}
.scores {
    font-size: 1.5em;
    background-color: #fff;
    margin-bottom: 0.5em;
}
.board {
    border:5px outset #999;
    display: inline-block;
}
.boardrow {
    display:flex;;
}
.square {
    width:45px;
    height:45px;
    border:1px solid #999;
    display: inline-block;
}
.tile {
    border: 3px outset #999;
}
.player0 {
    background-color: #eee;
}
.player1 {
    background: repeating-radial-gradient(
      circle,
      red,
      red 10px,
      #c70000 10px,
      #c70000 20px
    );
}
.player2 {
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}
#end {
    background-color: #fff;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

.gps {
    border: 3px solid #999;
    border-radius: 130px;
    height: 130px;
    width: 130px;
    position: absolute;
    animation: pulsate 1s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.0;
    pointer-events: none;
}
@-webkit-keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 1.0;}
    50% {opacity: 1.0;}
    99% {transform: scale(1.2, 1.2); opacity: 0.0;}
    100% {transform: scale(0.1, 0.1); }
}
